<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1004616236724-ritt0tf0omkv2djmtg60ana8q4omjoua.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1004616236724-ritt0tf0omkv2djmtg60ana8q4omjoua</string>
	<key>API_KEY</key>
	<string>AIzaSyDicQD_xFjI26DiUTeD7YkkW4-OCFO-6sk</string>
	<key>GCM_SENDER_ID</key>
	<string>1004616236724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blogit</string>
	<key>PROJECT_ID</key>
	<string>blogit-a5008</string>
	<key>STORAGE_BUCKET</key>
	<string>blogit-a5008.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1004616236724:ios:7379a0f5c448afe82a61e1</string>
</dict>
</plist>